html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(254, 255, 210);
}

body {
    display: flex;
    justify-content: center;
}

fieldset {
    max-width: fit-content;
    border-color: rgb(255, 125, 41);
}

.register-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    max-width: fit-content;
}

input {
    margin-bottom: 1rem;
    background-color: rgb(254, 255, 210);

    &.valid {
        background-color: rgb(254, 255, 210);
        ;
        border-color: green;

    }

    &.invalid {
        background-color: lightcoral;
        border-color: red;
    }

    &:active,
    &:valid {
        background-color: rgb(254, 255, 210);
    }
}

button {
    background-color: rgb(255, 191, 120);
    border-radius: 5px;
    border: solid black 0px;
    width: 15rem;
    height: 3rem;

    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}

.headline, 
#first-name-label,
#last-name-label,
#username-label,
#email-label,
#password-label,
#confirm-password-label,
#news-label{
    color: rgb(255, 125, 41)
}